
.ipynb_checkpoints/Statistical Feature Relevance-checkpoint.ipynb
*.csv
data/.ipynb_checkpoints/symptoms-checkpoint
data/.ipynb_checkpoints/test_labels-checkpoint
data
feats
*.ipynb_checkpoints
cough_feats/
speech_feats/
breathing_feats/
*.pyc
.DS_Store
